html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Variables and Mixins */
/* End Variables and Mixins */
body {
  background: linear-gradient(135deg, white 0%, #fff5f5 100%);
  overflow: hidden;
  position: relative;
  z-index: 1000;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 5fr;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  grid-template-areas: ". logo . hero" ". content . hero" ". email . hero" ". . . hero";
}
.container .background {
  grid-column: 1/span 3;
  grid-row: 1/span 4;
  background: url("../images/bg-pattern-desktop.svg");
}
.container .logo {
  grid-area: logo;
  padding: 65px 0 0 45px;
}
.container .cta {
  grid-area: content;
  margin-left: 45px;
  max-width: 430px;
  padding-top: 100px;
}
.container .cta__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1.1rem;
  line-height: 4.25rem;
  padding-bottom: 20px;
}
.container .cta__title--light {
  font-weight: 300;
  color: #ce9797;
}
.container .cta__copy {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.75rem;
  color: #ce9797;
}
.container .contact {
  grid-area: email;
  margin-left: 45px;
}
.container .contact__form {
  position: relative;
}
.container .contact__form--error-icon {
  display: none;
  position: absolute;
  right: 35%;
  top: 55px;
}
.container .contact__form input[type=email] {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background: transparent;
  border-radius: 30px;
  border: 1px solid rgba(206, 151, 151, 0.5);
  height: 55px;
  margin-top: 40px;
  outline: none;
  padding-left: 30px;
  width: 80%;
}
.container .contact__form input[type=email]::-webkit-input-placeholder {
  color: #ce9797;
  opacity: 0.4;
}
.container .contact__form button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8c8c 100%);
  border-radius: 30px;
  border: none;
  box-shadow: 0px 10px 20px 2px rgba(206, 151, 151, 0.4);
  height: 55px;
  top: 40px;
  left: 68%;
  position: absolute;
  width: 100px;
  outline: none;
}
.container .contact__form button:active, .container .contact__form button:focus {
  background: #f8bfbf 0%;
}
.container .contact--error-msg {
  display: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: #ce9797;
  font-size: 0.85rem;
  position: relative;
  left: 35px;
  top: 10px;
}
.container form.error .contact__form--error-icon {
  display: inline;
}
.container form.error input[type=email] {
  border: 2px solid red;
}
.container form.error .contact--error-msg {
  display: block;
}
.container .hero {
  grid-area: hero;
  background: url("../images/hero-desktop.jpg");
  background-position: center center;
  background-size: cover;
  width: 610px;
  height: 100vh;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
