@import "reset";

/* Variables and Mixins */
$red: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);
$darkGrayishRed: hsl(0, 6%, 24%);

@mixin grad__whiteToPink {
  background: linear-gradient(
    135deg,
    hsl(0, 0%, 100%) 0%,
    hsl(0, 100%, 98%) 100%
  );
}

@mixin grad__pinkToPeach {
  background: linear-gradient(
    135deg,
    hsl(0, 80%, 86%) 0%,
    hsl(0, 74%, 74%) 100%
  );
}

@mixin font__light {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

@mixin font__medium {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

@mixin font__heavy {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}
/* End Variables and Mixins */

body {
  @include grad__whiteToPink;
  overflow: hidden;
  position: relative;
  z-index: 1000;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 5fr;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  grid-template-areas:
    ". logo . hero"
    ". content . hero"
    ". email . hero"
    ". . . hero";
  .background {
    grid-column: 1 / span 3;
    grid-row: 1 / span 4;
    background: url("../images/bg-pattern-desktop.svg");
  }
  .logo {
    grid-area: logo;
    padding: 65px 0 0 45px;
  }
  .cta {
    grid-area: content;
    margin-left: 45px;
    max-width: 430px;
    padding-top: 100px;
    &__title {
      @include font__heavy;
      color: #000;
      font-size: 4rem;
      text-transform: uppercase;
      letter-spacing: 1.1rem;
      line-height: 4.25rem;
      padding-bottom: 20px;
      &--light {
        font-weight: 300;
        color: $red;
      }
    }
    &__copy {
      @include font__medium;
      line-height: 1.75rem;
      color: $red;
    }
  }
  .email {
    grid-area: email;
    margin-left: 45px;
    &__form input[type="email"] {
      @include font__medium;
      font-size: 1rem;
      background: transparent;
      border-radius: 30px;
      border: 1px solid hsla(0, 36%, 70%, 0.5);
      height: 55px;
      margin-top: 40px;
      outline: none;
      padding-left: 30px;
      width: 75%;
      &::-webkit-input-placeholder {
        color: $red;
        opacity: 0.4;
      }
    }
    button {
      @include font__medium;
      @include grad__pinkToPeach;
      border-radius: 30px;
      border: none;
      box-shadow: 0px 10px 20px 2px rgba(206, 151, 151, 0.4);
      height: 55px;
      left: -60px;
      top: 4px;
      position: relative;
      width: 100px;
      &:active,
      &:focus {
        background: hsl(0, 80%, 86%) 0%;
      }
    }
  }

  .hero {
    grid-area: hero;
    background: url("../images/hero-desktop.jpg");
    background-position: center center;
    background-size: cover;
    width: 610px;
    height: 100vh;
    background-size: cover;
  }
}
